<footer class="site-footer">
  <div class="footer-content">
    <h3>Lais Ribeiro</h3>
    <p>Realçando sua beleza com amor e delicadeza 💖</p>

    <ul class="footer-links">
      <li><a href="#" (click)="scrollToSection($event, 'aplication-c')">Serviços</a></li>
      <li><a href="#" (click)="scrollToSection($event, 'sobre-mim')">Sobre Mim</a></li>
      <li><a href="https://wa.me/5511961006415" target="_blank">Contatos</a></li>
    </ul>

    <div class="footer-socials">
      <a href="https://www.instagram.com/lalashdesignerr/" target="_blank">Instagram</a>
      <a href="https://wa.me/5511961006415" target="_blank">WhatsApp</a>
    </div>

    <p class="footer-copy">© {{ currentYear }} Lais Barreto Ribeiro da Silva. Todos os direitos reservados.</p>
  </div>
</footer>
