<section class="manutencao-section" id="manutencion">
  <div class="manutencao-container">
    <div class="manutencao-texto">
      <h2>PIRI PROMOTION</h2>
      <h3>PIERCING DENTAL 5% OFF</h3>
      <p>
        Venha aproveitar este grande desconto!! Qualquer piercing dental com <span>5% OFF</span>
      </p>
      <a class="agendar-btn" [href]="whatsappLink" target="_blank">
        Eu quero esse desconto
      </a>
        <br>
        <br>
        <button (click)="scrollToSection($event, 'piercing-dental')" class="download-btn">Tabela de valores</button>
    </div>

    <div class="manutencao-imagem">
      <img src="assets/promotions/piri.jpg" alt="Manutenção de Cílios" />
    </div>
  </div>
</section>
